/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generic*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

h1 {
font-weight: 900;
font-size: 50px;
display: inline;
vertical-align: middle;
}

/*Utilities*/

.container {
    max-width: 1080px;
    margin: 30px auto;
    background-color: white;
}

/* Header */

header {
    background-color: white;
}

#logo {
    vertical-align: middle;
}

/*Add Todo Section*/

.add {
    font-size: 1.2rem;
    padding: 6px 15px;
    border-radius: 10%;
    border: none;
}

.add.task {
    background-color: #1e90ff;
    color: white;
}

.add.section {
    background: none;
    color: #808090;
    border-color: #808090;
    border-style: solid;
    border-width: thin;
}