/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generic*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

h1 {
font-weight: 900;
font-size: 50px;
display: inline;
vertical-align: middle;
}

/*Utilities*/

.container {
    max-width: 1080px;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
}

/* Header */

header {
    background-color: white;
}

#logo {
    vertical-align: middle;
}

/*Add Todo Section*/

.add-todo {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #F6F8F9;
    padding-left: 30px;
}

.add {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 6px 15px;
    border-radius: 10%;
    vertical-align: middle;
}

.add.task {
    background-color: #1e90ff;
    color: white;
    border: none;
    margin-right: 2px;
}

.add.section {
    background: none;
    color: #808090;
    border-color: #808090;
    border-style: solid;
    border-width: thin;
}

/* List */

.list {
    margin-top: 30px;
    padding-left: 30px;
}

.new-task {
    list-style-type: none;
}

h3 {
    font-weight: bolder;
    margin-bottom: 15px;
}

.check {
    height: 25px;
    border: 2px solid black;
    width: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    border-color: #6AB56A;
    color: #6AB56A;
}